@import "../layout"
@import "../typography"

$susy: (gutters: 0.25)

.item-expanded
  width: 104%
  left: -2%
  position: relative

.item-container
  margin: 0 66px

  h2
    +type-setting(2)
    margin-bottom: rhythm(1)

.item-content
  +container(100%)
